<!DOCTYPE html>
<html>
  <head>
    <title>Freelanship</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if alert %>
      <p><%= alert %></p>
    <% end %>

    <% if signed_in? %>
      You are currently signed in as <%= current_user.username %>.
      <%= link_to "Sign out?", session_path, method: :delete %>
    <% end %>

    <%= yield %>

  </body>
</html>
